{% extends 'admin/layout.html.twig' %}

{% block main %}
    <main class="container py-5">
        <h1 class="mb-4">Liste des utilisateurs</h1>
        <a href="index.php?route=admin-create-user" class="btn btn-primary mb-4">Ajouter un utilisateur</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>
                         {{user.id}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                         {{user.role}}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="index.php?route=admin-show-user" title="Voir l'utilisateur"><span class="bi bi-eye-fill" aria-hidden="true"></span></a>
                        <a class="btn btn-success" href="index.php?route=admin-edit-user" title="Modifier l'utilisateur"><span class="bi bi-pencil-fill" aria-hidden="true"></span></a>
                        <a class="btn btn-danger" href="index.php?route=admin-delete-user" title="Supprimer l'utilisateur"><span class="bi bi-trash-fill" aria-hidden="true"></span></a>
                    </td>
                </tr>
                 {% endfor %}
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        admin@test.fr
                    </td>
                    <td>
                        ADMIN
                    </td>
                    <td>
                        <a class="btn btn-primary" href="index.php?route=admin-show-user" title="Voir l'utilisateur"><span class="bi bi-eye-fill" aria-hidden="true"></span></a>
                        <a class="btn btn-success" href="index.php?route=admin-edit-user" title="Modifier l'utilisateur"><span class="bi bi-pencil-fill" aria-hidden="true"></span></a>
                        <a class="btn btn-danger" href="index.php?route=admin-delete-user" title="Supprimer l'utilisateur"><span class="bi bi-trash-fill" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        toto@test.fr
                    </td>
                    <td>
                        USER
                    </td>
                    <td>
                        <a class="btn btn-primary" href="index.php?route=admin-show-user" title="Voir l'utilisateur"><span class="bi bi-eye-fill" aria-hidden="true"></span></a>
                        <a class="btn btn-success" href="index.php?route=admin-edit-user" title="Modifier l'utilisateur"><span class="bi bi-pencil-fill" aria-hidden="true"></span></a>
                        <a class="btn btn-danger" href="index.php?route=admin-delete-user" title="Supprimer l'utilisateur"><span class="bi bi-trash-fill" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        titi@test.fr
                    </td>
                    <td>
                        ADMIN
                    </td>
                    <td>
                        <a class="btn btn-primary" href="index.php?route=admin-show-user" title="Voir l'utilisateur"><span class="bi bi-eye-fill" aria-hidden="true"></span></a>
                        <a class="btn btn-success" href="index.php?route=admin-edit-user" title="Modifier l'utilisateur"><span class="bi bi-pencil-fill" aria-hidden="true"></span></a>
                        <a class="btn btn-danger" href="index.php?route=admin-delete-user" title="Supprimer l'utilisateur"><span class="bi bi-trash-fill" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        tutu@test.fr
                    </td>
                    <td>
                        USER
                    </td>
                    <td>
                        <a class="btn btn-primary" href="index.php?route=admin-show-user" title="Voir l'utilisateur"><span class="bi bi-eye-fill" aria-hidden="true"></span></a>
                        <a class="btn btn-success" href="index.php?route=admin-edit-user" title="Modifier l'utilisateur"><span class="bi bi-pencil-fill" aria-hidden="true"></span></a>
                        <a class="btn btn-danger" href="index.php?route=admin-delete-user" title="Supprimer l'utilisateur"><span class="bi bi-trash-fill" aria-hidden="true"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
{% endblock %}